<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>Programming language that transcompiles to JavaScript.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>30395DAB-44A6-44F7-99E1-02D64621303A</string>
			<string>90424631-D00B-448C-B157-DAC92DFB2858</string>
			<string>D749F761-1740-4918-9490-90DF376BA72E</string>
			<string>------------------------------------</string>
			<string>E11D7545-67B4-4191-8012-756E2C9AD382</string>
			<string>5786C9CC-C7ED-46FA-9D0B-069E52DAF268</string>
			<string>1C7FD768-1DEA-4825-8220-FACA8D507E80</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>1C7FD768-1DEA-4825-8220-FACA8D507E80</key>
			<dict>
				<key>items</key>
				<array>
					<string>F08537AF-4F02-4040-999D-F0785CF64C02</string>
					<string>C4F99E3D-1540-4BC1-8038-0A19D65BABC8</string>
					<string>68A86250-0280-11E0-A976-0800200C9A66</string>
					<string>EE3293A5-3761-40BD-9CA8-DAAA176AA19E</string>
					<string>422A59E7-FC36-4E99-B01C-6353515BB544</string>
					<string>8A65E175-18F2-428F-A695-73E01139E41A</string>
					<string>C04ED189-6ACB-44E6-AD5B-911B760AD1CC</string>
					<string>FBC44B18-323A-4C00-A35B-15E41830C5AD</string>
					<string>------------------------------------</string>
				    <string>099276E4-DCF9-470B-9034-EFF7F0937560</string>
				    <string>EB7F835F-4F2F-4483-832B-BDA4AEE0EAB7</string>
				    <string>31EC9F11-C98B-4F07-9591-172B4B593EFE</string>
				</array>
				<key>name</key>
				<string>Other</string>
			</dict>
			<key>5786C9CC-C7ED-46FA-9D0B-069E52DAF268</key>
			<dict>
				<key>items</key>
				<array>
					<string>192428A1-8684-4172-8728-225B4C9E532F</string>
					<string>F2E2E79A-A85D-471D-9847-72AE40205942</string>
					<string>20BDC055-ED67-4D0E-A47F-ADAA828EFF2B</string>
					<string>765ACBD3-380A-4CF8-9111-345A36A0DAE7</string>
					<string>------------------------------------</string>
					<string>2D4AC0B4-47AA-4E38-9A11-09A48C2A9439</string>
					<string>9D126CC5-EA14-4A40-B6D3-6A5FC1AC1420</string>
					<string>FA6AB9BF-3444-4A8C-B010-C95C2CF5BAB3</string>
					<string>E0F8E45A-9262-4DD6-ADFF-B5B9D6CE99C2</string>
					<string>3931A7C6-F1FB-484F-82D1-26F5A8F779D0</string>
					<string>CAFB0DED-5E23-4A84-AC20-87FBAF22DBAC</string>
				</array>
				<key>name</key>
				<string>Constructs</string>
			</dict>
			<key>E11D7545-67B4-4191-8012-756E2C9AD382</key>
			<dict>
				<key>items</key>
				<array>
					<string>F4FDFB3A-71EF-48A4-93F4-178B949546B1</string>
					<string>2AD19F12-E499-4715-9A47-FC8D594BC550</string>
					<string>EA8F5EDB-6E1E-4C36-9CA5-12B108F1A7C9</string>
					<string>CF0B4684-E4CB-4E10-8C25-4D15400C3385</string>
					<string>E561AECD-5933-4F59-A6F7-FA96E1203606</string>
				</array>
				<key>name</key>
				<string>Control</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>CoffeeScript</string>
	<key>uuid</key>
	<string>A46E4382-F1AC-405B-8F22-65FF470F34D7</string>
</dict>
</plist>
